html, body{
	overflow: hidden;
}
video#bgp{
	background-image:url("/media/bg-pic.jpg") no-repeat;
	min-width: 100%;
	min-height: 100%;
	height: auto;
	width:auto;
	background-size : cover;
	z-index:-100;
	top:0;
	left: 0;
	position: absolute;
	
}

#body-content{ 
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: table;
    font-size:100px;
    z-index:1;
   
}

.vcenter {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#lead-txt{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 66px;
	line-height: 66px;
}


